<!-- User Profile -->
<div class="container">
	<h1>Welcome <%= @user.name %>!</h1>
	
	<div class="lists">
		<p>To-Watch</p>
		<!-- Insert lists here -->
		<ul>
			<li>LIST 1</li>
			<li>LIST 2</li>
		</ul>
		
		<p>Watched</p>
		<!-- Insert lists here -->
		<ul>
			<li>LIST 1</li>
			<li>LIST 2</li>
		</ul>
		
	</div>

</div>
